<div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <a href="{% url 'main:category' 0 %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5
        {% if request.resolver_match.kwargs.pk == '0' %}
            how-active1
        {% endif %}" data-filter="*">
            All Products
    </a>
    {% for item in categories %}
        <a href="{% url 'main:category' item.pk %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5
        {% if request.resolver_match.kwargs.pk|add:'0' == item.pk %}
            how-active1
        {% endif %}" data-filter="{{ item.data }}">
            {{ item.name|capfirst }}
        </a>
    {% endfor %}
</div>