<li class="{% if request.resolver_match.url_name == 'index' %} active-menu {% endif %}">
    <a href="{% url 'main:index' %}">
        Home
    </a>
    <span class="arrow-main-menu-m">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
</li>

<li class="{% if request.resolver_match.url_name == 'product' %} active-menu {% endif %}">
    <a href="{% url 'main:product' %}">
        Shop
    </a>
</li>

<li class="{% if request.resolver_match.url_name == 'shoping_cart' %} active-menu {% endif %}">
    <a href="{% url 'main:shoping_cart' %}" class="label1 rs1" data-label1="hot">
        Features
    </a>
</li>

<li class="{% if request.resolver_match.url_name == 'blog' %} active-menu {% endif %}">
    <a href="{% url 'main:blog' %}">
        Blog
    </a>
</li>

<li class="{% if request.resolver_match.url_name == 'about' %} active-menu {% endif %}">
    <a href="{% url 'main:about' %}">
        About
    </a>
</li>

<li class="{% if request.resolver_match.url_name == 'contact' %} active-menu {% endif %}">
    <a href="{% url 'main:contact' %}">
        Contact
    </a>
</li>