<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    <head>
        <meta charset="UTF-8">
        <title>AnimaForm</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head><link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>

<body>
<!-- partial:index.partial.html -->
    <section class="forms-section">
        <h1 class="section-title">Welcome to COZA Store</h1>
        <div class="forms">
            <div class="form-wrapper is-active">
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </section>
<!-- partial -->
    <script  src="{% static 'js/login.js' %}"></script>

</body>
</html>