{% extends 'authapp/base.html' %}

{% block container %}
<h3 class="switcher switcher-login">
    <a href="{% url 'auth:register' %}"
        class="btn btn-round form-control">
        Sign up
    </a>
</h3>
<form class="form form-login" action="{% url 'auth:login' %}" method="post">
    <fieldset>
        <legend>Please, enter your email and password for login.</legend>
        {% csrf_token %}
        <div class="input-block">
            {{ form.as_p }}
        </div>
    </fieldset>
    <button type="submit" class="btn-login">Login</button>
</form>
{% endblock %}