{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
    <div class="users_list">
        <a href="{#% url 'new_admin:user_create' %#}" class="btn btn-primary new_user">
            new category
        </a>
        {% for category in category_list %}
            <div class="user_record {% if not category.is_active %}not_active{% endif %}">
                <div class="user_role">
                    <a href="{#% url 'new_:user_update' category.pk %#}"
                       class="btn btn-primary">
                        edit
                    </a>
                    <a href="{#% url 'new_admin:user_delete' category.pk %#}"
                       class="btn btn-danger">
                        delete
                    </a>
                </div>
                <div class="user_name">
                    <p><strong>{{ category.name }}</strong></p>
                </div>
                <div>
                    {{ category.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}