{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Are you sure to delete <b>{{ user_to_delete.username }}
        {% if user_to_delete.first_name %}
            ({{ user_to_delete.first_name|capfirst }}
            {% if user_to_delete.last_name %}
                {{ user_to_delete.last_name|capfirst }}
            {% endif %})
        {% endif %}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
        <a href="{% url 'new_admin:index' %}" class="btn btn-success">
            cancel
        </a>
    </div>
{% endblock %}