{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
<div class="users_list">
    <a href="{% url 'new_admin:category_create' %}" class="btn btn-primary new_user">
        new category
    </a>
    {% for category in object_list %}
    <div class="user_record {% if not category.is_active %}not_active{% endif %}">
        <div class="category_actions">
            <a href="{% url 'new_admin:category_products' category.pk %}"
               class="btn btn-info">
                products of category
            </a>
            <a href="{% url 'new_admin:category_update' category.pk %}"
               class="btn btn-primary">
                edit
            </a>
            <a href="{% url 'new_admin:category_delete' category.pk %}"
               class="btn btn-danger">
                delete
            </a>
        </div>
        <div class="user_name">
            <p><strong>{{ category.name }}</strong></p>
        </div>
        <div>
            {{ category.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}