{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="login">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="save">
        </form>
        <a href="{% url 'new_admin:categories' %}"
            class="btn btn-primary form-control last">
            to the list of categories
        </a>
    </div>
{% endblock %}
