{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
<div class="product_read">
    <div class="product_name">
        Product<strong>{{ object.category.name|title }} /
        {{ object.name|title }}</strong>
    </div>
    <img src="/media/{{ object.image|default:'products_images/default.jpg' }}"
         alt="{{ object.name }}">
    <div class="summary">
        <b>price</b>
        <p>{{ object.price }} руб</p>
        <b>quantity</b>
        <p>{{ object.quantity }}</p>
        <b>in catalog</b>
        <p>{% if object.is_active %}yes{% else %}no{% endif %}</p>
        <p>
            <a href="{#% url 'new_admin:product_update' object.pk %#}"
               class="btn btn-primary">
                edit
            </a>
        </p>
        <p>
            <a href="{#% url 'new_admin:product_delete' object.pk %#}"
               class="btn btn-danger">
                delete
            </a>
        </p>
        <p>
            <a href="{% url 'new_admin:category_products' object.category_id %}"
               class="btn btn-default">
                back
            </a>
        </p>
    </div>
    <div class="product_desc">
        <b>short description</b>
        <p>{{ object.short_desc }}</p>
        <br><br>
        <b>description</b>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock %}